/* ################# cores ############################# */
:root {
    --primary-color: #FA8072;
    --secondary-color: #444;
    --background-color: #e9fbff;
    --text-color1: #393939;
    --text-color2: aliceblue;
    --backgroud-button: #dadada;
}

/* ###################### navbar ################### */
.navbar {
    background-color: var(--primary-color);
    color: var(--text-color2);
    display: flex;
    padding: 1rem;
}

.navbar a, .navbar ul li a {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.navbar a:hover, .navbar ul li a:hover {
    color: var(--text-color1);
}

.container-itens {
    display: flex;
    list-style-type: none;
    padding: 1.5rem 5rem;
    gap: 8%;
}

.container-img {
    width: 20%;
    padding-left: 5rem;
    border-radius: 2%;
}

/* ##################### dropdown ######################### */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    list-style-type: none;
    padding-right: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 0.5rem;
    background-color: var(--backgroud-button);
}

.dropdown-menu li a {
    text-decoration: none;
    color: var(--text-color1);
}

.dropdown-menu li a:hover {
    background-color: var(--backgroud-button);
    color: var(--text-color1);;
}


/* ################# footer ################ */
footer {
    background-color: var(--text-color1);
    color: var(--background-color);
    text-decoration: none;
    padding: 2% 15% 2% 10% ;
}

.container-footer{
    display: flex;
    justify-content: space-between;
}

footer h1{
    font-size: 1.2rem;
}

.remove li a{
    text-decoration: none;
    list-style-type: none;
}

.copyright a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:var(--backgroud-button);
}

.copyright a:hover{
    color:var(--background-color);
}

/* ########## icons ########## */

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    background-color:var(--primary-color);
    border-radius: 5%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

/* ############# corousel ############# */

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
  }
  .item:hover {
    flex: 7;
  }
  
  .item-1 {
    background-image: url('/static/imagens/acupuntura.jpg');
  }
  
  .item-2 {
    background-image: url('/static/imagens/creme.jpg');
  }
  
  .item-3 {
    background-image: url('/static/imagens/intradermo.jpg');
  }
  
  .item-4 {
    background-image: url("/static/imagens/clinica.jpg");
  }
  
  .item-5 {
    background-image: url('/static/imagens/coracao.jpg');
  }
  
  .social {
    position: absolute;
    right: 35px;
    bottom: 0;
  }
  .social img {
    display: block;
    width: 32px;
  }
  

/* ############# index ############## */

.container-text-index h1, p{
    display: flex;
    justify-content: center;
}

.container-text-index h1{
    font-size: 2rem;
    padding: 1.5rem;
}

.container-img-index{
    display: flex;
    justify-content:space-evenly;
    text-decoration: none;
    padding: 5% 0px 5% 0px;
}

.container-img-index a{
    text-decoration: none;
    color: var(--text-color1);
}

.container-img-button {
    display: flex;
    justify-content: center;
    border: 3px solid var(--primary-color);
    border-radius: 5%;
    padding: 2%;
    transition: transform 0.3s ease;
}

.container-img-button:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.imagens-index {
    width: 250px;
    height: 250px;
}

/* ##################### Sobre ###################### */

.container-sobre{
    padding:0% 7rem 1rem
}

.container-sobre h1, p{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.container-sobre h1{
    font-size: 2rem;
    padding-top: 2rem;
}

.display-flex{
    display: flex;
    padding: 3rem 5rem;
    gap: 10%;
}

.imagens-sobre {
    width: 200px;
    height: 200px;
    border-radius: 8%;
    border: 5px solid salmon;
    transition: transform 0.3s ease; 
}

.imagens-sobre:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.padding-sobre{
    padding: 0% 15%
}

/* tratamentos */
.titulo-tratamentos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 50px 0px;
}

.cards { 
    display: flex;
    justify-content: space-between;
    margin: 15px 50px;
}

.imagens-tratamentos {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* ################ contato ############### */

.container-contato{
    padding: 2rem 10rem;
}

.container-contato h1, p{
    display: flex;
    justify-content: center;
}

.container-contato h1{
    font-size: 2rem;
}

.form{
    display: block;
    align-items: center;
    justify-content: left;
}


.button-contato{
    width: 10%;
    height: 15%;
    color: var(--backgroud-button);
    background-color: var(--primary-color);
    border-radius: 10%;
}