{% extends "baseadm.html" %}
{% block conteudo %}


<main  class='container-admin'>
    <div>
        <h1>Painel Administrador</h1>
    </div>

    <div class='container-img-index'>

        <div class='container-img-button'>
            <a href="/Clientes">
                <div>
                    <h1>Clientes</h1>
                    <p>Dúvidas, feedbacks e sugestões</p>
                    <img src="/static/imagens/painel_de_clientes.png" alt="clientes" class="imagens-index">
                </div>
            </a>
        </div>

        <div class='container-img-button'>
            <a href="/Fornecedores">
                <div> 
                    <h1>Fornecedores</h1>
                    <p>Mensagens, controle e solicitações</p>
                    <img src="/static/imagens/Business.png" alt="business" class="imagens-index">
                </div>
            </a>
        </div>

        <div class='container-img-button'>
            <a href="/Agenda">
                <div> 
                    <h1>Agenda</h1>
                    <p>Solicitações e agendamentos</p>
                    <img src="/static/imagens/calendar-bro.png" alt="agenda" class="imagens-index">
                </div>
            </a>
        </div>
    </div>   
</main>



{% endblock %}