{% extends "base.html" %}

{% block conteudo %}

<main>
    <div class='container-contato'>
        <h1>Fale conosco</h1>
        <p>Entre encontato para dúvidas, sugestões ou agendamentos</p>

        <section class='form'>
            <form method='POST' action='/contato'>
                <fieldset>
                    <div class='inputbox'> 
                        <input type='text' name='nome' id='nome' required>
                        <label for='nome'>Nome</label>
                    </div>  

                    <br>

                    <div class='inputbox'> 
                        <input type='email' name='email' id='email' required>
                        <label for='email'>Email</label>
                    </div>

                    <br>

                    <div class='container-input'>
                        <div class='inputbox'> 
                            <input type='text' name='number' id='number' required>
                            <label for='number'>Telefone</label>
                        </div>

                        <br>

                        <div class='inputbox'> 
                            <input type='date' name='nascimento' id='nascimento' class='inputUser' required>
                            <label for='nascimento'>Data de nascimento</label>
                        </div>
                    </div>

                    <br>

                    <div>
                        <label>Sexo:</label>
                        <br>
                        <input type="radio" id='masculino' name='sexo' value='masculino' required>
                        <label for='masculino'>Masculino</label>
                        <input type="radio" id='feminino' name='sexo' value='feminino' required>
                        <label for='feminino'>Feminino</label>
                        <input type="radio" id='outros' name='sexo' value='outros' required>
                        <label for='outros'>Outros</label>
                    </div>

                    <br>

                    <div>
                        <label class='display-block'>Eu sou:</label>
                        <br>
                        <div class='font-size'>
                            <input type="radio" id='PF' name='tipo' value='PF' required>
                            <label for='PF' >Estou interessado em realizar um tratamento</label>
                        </div>
                        <input type="radio" id='CL' name='tipo' value='CL' required>
                        <label for='CL'>Sou cliente</label>
                        <br>
                        <input type="radio" id='PJ' name='tipo' value='PJ' required>
                        <label for='PJ' >Sou fornecedor</label>
                    </div>

                    <br>

                    <div>
                        <label>Descrição:</label>
                        <textarea class="form-control" name="descricao" id="descricao" rows="8" required></textarea>
                    </div>

                    <button class='button-contato' type='submit'>Enviar</button>
                </fieldset>
            </form> 
        </section>
    </div>
</main>
{% endblock %}
