{% extends "base.html" %}

{% block conteudo %}

<section>   
    <div class="container">
        <div class="gallery-wrap">
            <div class="item item-1"></div>
            <div class="item item-2"></div>
            <div class="item item-3"></div>
            <div class="item item-4"></div>
            <div class="item item-5"></div>
        </div>
    </div>

</section>


<main>
    <div class='container-text-index'>
        <h1>Clínica de Estética em São José dos Campos, SP</h1>

        <p>
            Bem-vindo à Lacerssi Aesthetics, sua clínica de estética em São José dos Campos! Nossa missão é proporcionar a você uma experiência única de beleza e bem-estar.
        </p>
        <p>
            Quer você esteja procurando rejuvenescimento facial, tratamentos corporais ou procedimentos estéticos, estamos aqui para ajudá-lo a alcançar seus objetivos de beleza.
        </p>
        <p>
            Visite-nos e descubra como podemos ajudá-lo a se sentir bem e confiante.
        </p>
    </div>

    <div class='container-img-index'>

        <div class='container-img-button'>
            <a href="/Sobre">
                <div>
                    <h1>Quem somos</h1>
                    <p>Quem somos, feedbacks e valores</p>
                    <img src="/static/imagens/laboratory-bro.png" alt="Imagem de laboratório" class="imagens-index">
                </div>
            </a>
        </div>

        <div class='container-img-button'>
            <a href="/Tratamentos">
                <div> 
                    <h1>Tratamentos</h1>
                    <p>Conheça nossos tratamentos</p>
                    <img src="/static/imagens/massagem-facial.png" alt="Imagem de massagem" class="imagens-index">
                </div>
            </a>
        </div>
    </div>   
</main>
{% endblock %}
